<div class="detail-top-spacing">
    <div class="row">
        <div class="col-xs-8">
            <h1>{{ course.name }}</h1>
            <div class="posted-on">
                <p>by <span>Shubsoft Tutorials</span> on <span>October 16, 2020</span></p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="dropdown button-position">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage Course
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Edit Course</a>
                  <a class="dropdown-item" href="#">Delete Course</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img [src]="course.imagePath" class="img-fluid" style="margin-bottom: 10px;" alt="course.name" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 content-style">
            <p>{{ course.description }}</p>
            <p>The Angular is the newest form of the AngularJS, developed by Google, which is an open-source
                front-end development platform used for building mobile and desktop web applications.
                Angular is rewritten by the same team that built AngularJS.</p>
            <p>It is a JavaScript framework for building web applications and apps in JavaScript, HTML, and
                TypeScript, which is a superset of JavaScript. The Angular now comes with every latest
                feature you need to build a complex and sophisticated web or mobile application. It contains
                features like component, Directives, Forms, Pipes, HTTP Services, Dependency Injection and
                many more. </p>
            <p>Angular is the next big deal. Being the successor of the massive successful AngularJS
                framework it’s bound to frame the future of frontend development in a similar way. The
                powerful features and capabilities of Angular permit you to build complex, customizable,
                modern, responsive and user-friendly web applications. It also enables you to create
                software quicker and with less effort.</p>
            <p>As your application grows, structuring your code in a clean and maintainable and more
                importantly, testable way, becomes more complex. But your life becomes far easier using a
                framework like Angular.

                Angular 7 is the latest version of the Angular framework and simply an update to Angular 2.

                Angular is faster than AngularJS and offers a much more flexible and modular development
                approach. After studying this tutorial you become proficient and able to take full advantage
                of all those features and start developing incredible applications in a reasonable time.</p>
        </div>
    </div>
</div>